<div class="support-admin">
  <h2>Support (Admin)</h2>

  <div class="admin-sections">
    <section>
      <app-support-admin-talks></app-support-admin-talks>
    </section>

    <section>
      <app-support-admin-faqs></app-support-admin-faqs>
    </section>

    <section>
      <app-support-admin-issues></app-support-admin-issues>
    </section>

    <section>
      <app-support-admin-notifications></app-support-admin-notifications>
    </section>

    <section>
      <app-support-admin-system-config></app-support-admin-system-config>
    </section>
  </div>
</div>


